/*Istruzioni per lo styling generico della finestra*/
.root {
    -fx-background-color: #d9f0d8;

}
/*Istruzioni per lo styling delle label*/
.label {
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
    -fx-font-family: "Consolas";
}

/*Istruzioni per lo styling di un pulsante generico e del relativo comportamento 
	in caso di "hovering" con il cursore
*/
.button {
    -fx-background-color: linear-gradient(#AABDAA,#93A393);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
	-fx-font-family: "Consolas";

}

.button:hover {
	
    -fx-background-color: linear-gradient(#93A393,#AABDAA);
}

/*Istruzioni per lo styling della toolbar*/
.tool-bar {
	
    -fx-background-color: #CFE6CF;
}

/*Istruzioni per lo styling delle finestre pop-up. nell'ordine:
	- background;
	- casella di testo;
	- pannello d'intestazione e relativa label;
*/
.dialog-pane {
    -fx-background-color: #d9f0d8;
}

.dialog-pane > .content {
	-fx-text-fill:black;
  	-fx-font-size:14 pt;
}

.dialog-pane:header .header-panel {
    -fx-background-color: #CFE6CF;

}

.dialog-pane:header .header-panel .label{
 	-fx-font-size: 18px;
	-fx-font-weight: bold;
    -fx-fill: #373D37;
}

/*Istruzioni per lo styling della table view utilizzata per i server*/
.table-view {
	-fx-border-color : #93A393;
}

.table-view .table-row-cell:odd{
    -fx-background-color: #CFE6CF;
	-fx-table-cell-border-color: white;
}

.table-view .table-row-cell:even{
    -fx-background-color: #d9f0d8;
	-fx-table-cell-border-color: white;
	
}

.table-view .table-row-cell:focused{
	-fx-background-color: #AABDAA;
	-fx-table-cell-border-color: #93A393;

}

.table-view .table-row-cell:focused .text{
	-fx-fill:d9f0d8;

}
.table-view .column-header{
	
    -fx-background-color: linear-gradient(#AABDAA,#93A393);
}

.table-view .filler{
	-fx-background-color: linear-gradient(#AABDAA,#93A393);;
}

.table-view .column-drag-header,
.table-view .column-overlay {
    -fx-background-color: #71e86d;
}
.table-view .column-resize-line {
    -fx-background-color: #71e86d;
}

/*Istruzioni speciali per determinate categorie di elementi. In ordine:
	- Pulsanti di piccole dimensioni;
	- Pulstanti per la predizione;
	- Etichetta di benvenuto
	- Etichetta per la predizione
*/
#smallButton {
    -fx-font-size: 12px;
	-fx-padding: 6 15 6 15;
}

#predictionButton {
	-fx-font-size: 16px;
	-fx-padding: 10 20 10 20;
}


#welcomeLabel {
	-fx-font-weight: bold;
	-fx-font-size: 18px;
	-fx-text-fill : #373D37;
}

#predictionLabel {
	-fx-font-weight: bold;
	-fx-font-size: 18px;
	-fx-text-fill : #373D37;
	-fx-text-alignment : center;
}


